@model IEnumerable<ClayOnWheels.Models.EF.UserSubscription>

@{
    ViewBag.Title = "Lessen van cursisten";
}

<p>
    @Html.ActionLink("Boek een les voor een cursist", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Datum cursus
        </th>
        <th>
            Datum geboekt
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            Naam
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.AppointmentDiary.DateTimeScheduled)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.LastName) @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
            </td>            
            <td>
               @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
