@model IEnumerable<ClayOnWheels.Models.EF.UserSubscription>

@{
    ViewBag.Title = "Lessen van cursisten";
}

<p>
    @Html.ActionLink("Boek een les voor een cursist", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Datum cursus
        </th>
        <th>
            Datum geboekt
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            Naam
        </th>
        <th></th>
    </tr>
    @{
        var dateTime = DateTime.Now;
    }
    @foreach (var item in Model)
    {
        if (dateTime != item.AppointmentDiary.DateTimeScheduled.Date)
        {
            dateTime = item.AppointmentDiary.DateTimeScheduled.Date;
            <tr>
                <th colspan="5">
                    @item.AppointmentDiary.DateTimeScheduled.Date.ToString("d/MM/yyyy")
                </th>
            </tr>
        }

        <tr>
            <td>
                &nbsp;@Html.DisplayFor(modelItem => item.AppointmentDiary.DateTimeScheduled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.LastName) @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
